body{
        
    background-image:url("library.jpg");
    background-repeat:no-repeat;
    background-size: 100%;
}

footer{

    margin-top: 20px;
    padding-top: 20px;
}
.bg__card__navbar{
    background-color: #000000;
}
.bg__card__footer{
    background-color: #000000 !important;
}
#add__new__list{
    top: -38px;
    right: 0px;
}
#add__new__list{
    padding: 5px;
}
.card-body text-center{
    top: 0px;
    padding:0;
    width: 50%;
    margin:0 auto;
    background-color: antiquewhite;

}

.container{
    padding-top:15px;
}

table{
    table-layout:fixed;
    text-align: center;
    word-wrap: normal;
}